<div class="container">
    <div class="default-form">
      <div class="jumbotron">
        <h2>Account Setup</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

            <%= f.label :first_name %>
            <div class="form-group">
              <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
            </div>

            <%= f.label :last_name %>
            <div class="form-group">
              <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
            </div>
            <%= f.label :website %>
            <div class="form-group">
              <%= f.text_field :website, class: 'form-control', placeholder: 'URL' %>
            </div>

            <%= f.label :phone_number %>
            <div class="form-group">
              <%= f.phone_field :phone_number, class: 'form-control', placeholder: 'Phone Number' %>
            </div>

            <%= f.label :bio %>
            <div class="form-group">
              <%= f.text_area :bio, class: 'form-control' %>
            </div>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off" %>
              <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label :current_password %> <b>(we need your current password to confirm your changes)</b><br />
              <%= f.password_field :current_password, autocomplete: "off" %>
            </div>

            <div class="actions">
            <%= f.submit "Update", class: "btn btn-md btn-warning" %>
          </div>
        <% end %>
        <%= link_to "Back", :back, class: "btn btn-sm btn-success form-button" %>
      <div class="cancle">
        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete%>
      </div>
    </div>
  </div>
</div>
