<h2 class="text-center">Sign up</h2>

<div class="row form-card">
  <div class="col-lg-4 col-lg-push-4">
    <div class="card">
      <img class="card-img-top" data-src="http://imgs.xkcd.com/comics/walking_into_things.png">

      <div class="card-block">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>


          <%= f.label :email %>
          <div class="input-group">
            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Enter Your Password"  %>
          </div>


          <%= f.label :password %>
          <div class="input-group">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Enter Your Password"  %>
          </div>


          <%= f.label :password_confirmation %>
          <div class="input-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Confirm Your Password"  %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class:"btn btn-sm btn-warning form-button" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
