<% if !user_signed_in? %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="headline">Affiliate Programs For Recurring Revenue</h1>

      <%= link_to "Become a Merchant", '/merchant', class: "btn btn-lg btn-warning" %>
        <div class="row benefits">
          <div class="col-md-6">
          <h2>Find affiliates to sell your products.</h2>
          <h5>
            Midas Merchants are companies who offer affiliates the
            opportunity to earn a percentage of
            recurring revenue for every sale they make. All affiliates are vetted via an
            application process to ensure they are high quality.
          </h5>
        </div>
        <div class="col-md-6">
          <h2>Affiliates earn recurring revenue.</h2>
          <h5>
            By joining MidasMerchants, affiliates gain access to exclusive affiliate
            deals and recurring revenue from our partner merchants.
            Once you're accepted you'll be able to start selling to earn recurring revenue.
          </h5>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="listings">
  <div id="listings-container" class="text-center transitions-enabled">
    <p id="notice"><%= notice %></p>


        <% @listings.each do |listing| %>
          <div class="box panel panel-default box-sizer">
            <div class="listing-box-image">
              <%= image_tag listing.image.url(:large), class: "listing-image" %>
            </div>

              <div class="panel-body">
              <div class="actions">
                <p><%= listing.name %></p>
                <p> <%= listing.commission %>%/ Month</p>
                <p> $<%= listing.value %> / Month</p>

                <%= link_to 'View Listing', listing %>
                <%= link_to 'Edit', edit_listing_path(listing), class:"glyphicon glyphicon-edit edit-in-card" if user_signed_in? && current_user.merchant? %>
                <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class:"glyphicon glyphicon-trash" if user_signed_in? && current_user.merchant?  %>

              </div>
             </div>
            </div>
         <% end %>
      </div>
     </div>
    </div>
