<% if !user_signed_in? %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="headline">We Generate Recurring Revenue</h1>

      <%= link_to "Become A Merchant", new_merchant_application_path, class: "btn btn-lg btn-warning" %>
      <%= link_to "Become An Affiliate", new_user_registration_path, class: "btn-lg btn btn-warning" %>
        <div class="row benefits">
          <div class="col-md-6">
          <h2>Find affiliats to sell your products.</h2>
          <h4>
            Midas Merchants are companies who offer affiliates the
            opportunity to earn a percentage of
            recuring revenue for every sale they make.
          </h4>
        </div>
        <div class="col-md-6">
          <h2> Earn recurring revenue.</h2>
          <h4>
            Search the Midas Marketplace for products to sell. These products will
            generate recurring revenue for each sale you make.
          </h4>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="listings container">
  <div id="listings-container" class="transitions-enabled">
    <p id="notice"><%= notice %></p>

    <h1>Merchants</h1>


        <% @listings.each do |listing| %>
          <div class="box panel panel-default box-sizer">
            <div class="listing-box-image">
              <%= image_tag listing.image.url(:large), class: "listing-image" %>
            </div>

              <div class="panel-body">
              <div class="actions">
                <p><%= listing.name %></p>
                <p> <%= listing.commission %>%/ Month</p>
                <p> $<%= listing.value %> / Month</p>

                <%= link_to 'View Listing', listing %>
                <%= link_to 'Edit', edit_listing_path(listing), class:"glyphicon glyphicon-edit" if user_signed_in? && current_user.merchant? %>
                <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class:"glyphicon glyphicon-trash" if user_signed_in? && current_user.merchant?  %>

              </div>
             </div>
            </div>
         <% end %>

    <br>

        <%= link_to 'New Listing', new_listing_path, class: "btn btn-lg btn-warning" if user_signed_in? && current_user.merchant? %>
      </div>
    </div>
