<div class="container">
    <div class="listing-jumbo">
      <div class="jumbotron">
        <p id="notice"><%= notice %></p>
          <div class="row">

            <div class="col-md-6 listing-image">
              <h2><%= @listing.name %></h2>
              <%= image_tag @listing.image.url(:large) %>
              <%= button_to "Sell This Product", "@listing.product_url", class: "btn btn-lg btn-warning"%>
            </div>
            <div class="col-md-6">
              <h3> <strong>Commission:</strong> <%= @listing.commission %>%</h3>
              <h3> <strong>Value Per Month</strong> $<%= @listing.value %></h3>
              <p><strong>Description:</strong> <%= @listing.description %></p>
           </div>

          <% if user_signed_in? %>
            <%= link_to 'Edit', edit_listing_path(@listing) if current_user.merchant? %> |
          <% end %>
          <%= link_to 'Back', listings_path %>
       </div>
      </div>
    </div>
  </div>
