<footer class="footer">
	<div class="container text-center">
   <div class="row">
		 <div class="col-md-4">
			 <div class="copywrite">

        <p><%= link_to "Log In", new_user_session_path %></p>
			 	<p><%= link_to "Sign Up", new_user_registration_path %></p>

			 </div>
		 </div>
		 <div class="col-md-4">
				<div class="copywrite">
					<p><%= link_to "Become An Affiliate", new_user_registration_path %><p>
				  <p><a href="https://www.opuslogica.com">© 2016 OpusLogica</a></p>


		  	</div>
		  </div>
			<div class="col-md-4">
				 <div class="copywrite">
					 <p><a href="<%= root_url %>about">About</a></p>
					 <p><%= link_to "Terms & Conditions", '/terms' %></p>

				 </div>
			 </div>
  	</div>
  </div>
</footer>
