<!DOCTYPE html>
<html>
<head>
  <title>Midas Merchants - A list of affiliate programs that offer recuring revenue.</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' => true %>
  <%= favicon_link_tag 'favicon-temp-32.ico' %>
  <script src="/assets/jquery.js" type="text/javascript"></script>
  <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <script src="//load.sumome.com/" data-sumo-site-id="507b0d8cf577fc1535d74476f2b1964aa8a4732d2bfd1a0840984a2614a43c5f" async="async"></script>
</head>
  <body>
    <%= render 'layouts/nav' %>

      <div class="wrapper">
        <%= yield %>
      </div>

    <div class="push"></div>

    <%= render 'layouts/footer' %>

  </body>
</html>
